<form action="/projects/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Project Title</label>
        <input type="text" name="title" required>
    </div>
</form> 